<aside class="page__aside">
  <div class="wrapper">
    <div class="left-column">
      <div class="image-container">
        <img
          src="https://via.placeholder.com/150x75.png"
          alt="Retrato del
      autor"
        />
      </div>
      <article class="author-info">
        <h3>Autor</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
          provident consectetur, doloremque ipsam quidem dignissimos vitae harum
          eius numquam, officia reiciendis ipsa cumque nesciunt accusamus. Ea
          praesentium vero laboriosam quam?
        </p>
      </article>
    </div>
    <div class="right-column">
      <nav class="section-menu">
        <ul>
          <li>
            <a href="#" title=" Ir a Sección 1">Sección 1</a>
          </li>
          <li>
            <a href="#" title=" Ir a Sección 2">Sección 2</a>
          </li>
          <li>
            <a href="#" title=" Ir a Sección 3">Sección 3</a>
          </li>
          <li>
            <a href="#" title=" Ir a Sección 4">Sección 4</a>
          </li>
        </ul>
      </nav>
      <nav>
        <ul class="category-menu">
          <li>
            <a href="#" title=" Ir a Categoría 1">Categoría 1</a>
          </li>
          <li>
            <a href="#" title=" Ir a Categoría 2">Categoría 2</a>
          </li>
          <li>
            <a href="#" title=" Ir a Categoría 3">Categoría 3</a>
          </li>
          <li>
            <a href="#" title=" Ir a Categoría 4">Categoría 4</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
