<main class="page__main">
  <div class="wrapper">
    <article class="post">
      <h2>Título del post</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
        expedita eum soluta illum hic perspiciatis ad voluptatibus aliquid
        doloremque exercitationem explicabo laboriosam natus, vel temporibus?
        Asperiores repellat itaque praesentium quasi!
      </p>
    </article>
    <article class="post">
      <h2>Título del post</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
        expedita eum soluta illum hic perspiciatis ad voluptatibus aliquid
        doloremque exercitationem explicabo laboriosam natus, vel temporibus?
        Asperiores repellat itaque praesentium quasi!
      </p>
    </article>
    <article class="post">
      <h2>Título del post</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
        expedita eum soluta illum hic perspiciatis ad voluptatibus aliquid
        doloremque exercitationem explicabo laboriosam natus, vel temporibus?
        Asperiores repellat itaque praesentium quasi!
      </p>
    </article>
  </div>
</main>
