.header,
.main,
.footer {
  border: 1px solid red;
}

* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: Circular;
  src: url("http://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff2")
      format("woff2"),
    url("http://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff")
      format("woff");

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Circular;
  src: url("http://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff2")
      format("woff2"),
    url("http://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff")
      format("woff");

  font-weight: 900;
  font-style: normal;
}

:root {
  /*COLORS*/
  --primary-color: black;
  --secondary-color: #4bb84a;
  --light-color: white;
  --tertiary-color: #0691ff;

  /*FONTS*/
  --primary-font: Circular, Arial, Helvetica, sans-serif;
}

html {
  font-family: var(--primary-font);
  font-size: 16px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  border: 1px solid yellow;
  padding: 15px;
}

/*HEADER*/

.header {
  background-color: var(--primary-color);
}

.header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .header-logo {
  display: inline-block;
  width: 115px;
}

.header-logo img {
  width: 100%;
}

.header-mobile-button {
  display: block;
  background-image: url();
  background-size: 100%;
  width: 20 px;
  height: 20px;
}

.header-menu {
  padding: 0;
  color: var(--light-color);
  display: none;
}

.header-menu li {
  display: inline-block;
  list-style-type: none;
}

.header-menu li a {
  padding: 15px;
  font-weight: bold;
}

.header-menu li:nth-child(3):after {
  content: "|";
}

/*HERO*/

.hero {
  background-color: var(--tertiary-color);
  color: var(--light-color);
}

.hero .wrapper {
  height: 50vh;
}

@media all and (min-width: 768px) {
  .header-menu {
    display: block;
  }

  .header-mobile-button {
    display: none;
  }

  .hero .wrapper {
    background-image: url("../images/premium_dancer.png") no-repeat;
    background-position: right top;
  }
}

@media all and (min-width: 1200px) {
  .header-menu {
    display: block;
  }

  .header-mobile-button {
    display: none;
  }
}
